$main-color: #ef4c23;
$main-hover-color: #af452f;
$sub-color: #409EFF;
$third-color: #5ab73b;
$font-main-color: #3f3f42;
$font-sub-color: #6b6b72;
$line-color: rgba(0, 0, 0, 0.15);

$footer-height: 70px;
$main-margin: 24px;
